.app{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}


form {
    background-color: #e7ebea;
    padding: 0px 60px;
    border-radius:10px;
}

h2 {
    color: rgb(77,1,77);
    text-align: center;
}

